*.orig
.classpath
.DS_Store
.history
.idea
.idea_modules
.project
.sass-cache
.settings
*.iml
*.sc
*.log
deploy/tatsu-service.version
dist
logs
!csv_import/logs
!csv_import/logs/*.log
out
RUNNING_PID
project/project
project/target
target
tmp
.tmp
.bundle
/deploy/vendor
node_modules
app/assets/libraries
public/javascripts/*min.js
public/javascripts/*min.js.map
public/stylesheets/*min.css
public/stylesheets/*min.css.map
public/images/*
resources/build.txt
dump.rdb
timetests.sc
